
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&family=Pacifico&family=Playfair+Display:ital,wght@0,600;1,500&display=swap');

body {
  margin: 0;
  
}
*,
::after ,
::before{
  box-sizing: border-box ;
  margin: 0 px;
  padding:0 ;
}

.product-font{
  font-family: 'Fira Sans Condensed', sans-serif;
}
.font-2{
  font-family: 'Pacifico', cursive;
}
.heroFont {
  font-family: 'Playfair Display', serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;